button {
  position: relative;
  padding: 5px 25px;
  border: solid 1px blueviolet;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 40px;
}
h1 {
  font-family: monospace;
  font-size: 60px;
  text-align: center;
  letter-spacing: 4px;
  padding-bottom: 0;
  margin-bottom: 0;
}

h2 {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  letter-spacing: 4px;
  padding-top: 0;
  margin-top: 0;
}

h3 {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  letter-spacing: 4px;
  padding-top: 0;
  margin-top: 25px;
}

h3:first-letter {
  text-transform: capitalize;
}

small {
  margin-left: 18px;
  font-family: "Quicksand", sans-serif;
}

#forecast-icon {
  font-size: 150px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

body {
  background-image: url(https://images.unsplash.com/photo-1612908055356-8c51bc883355?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.weather-app {
  background-color: rgba(254, 234, 250, 0.3);
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border: solid 1px white;
  border-radius: 5px;
}
.greeting-sentence {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.current-temperature {
  font-family: "Quicksand", sans-serif;
  font-size: 80px;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.weather-description {
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.form-input,
.form-submit {
  padding: 5px 25px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px blueviolet;
}
.weather-forecast-temperature {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
}

#forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

#forecast p {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

#description-sunrise,
#description-sunset,
#description-wind,
#description-feeling {
  font-family: monospace;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 0;
  margin-top: 0;
}

#sunrise-icon,
#sunset-icon,
#wind-icon,
#feeling-icon {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#value-sunrise,
#value-sunset,
#value-wind,
#value-feeling {
  display: block;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: 50px;
}

#celsius,
#fahrenheit {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}
